body{
    background-color: cornsilk;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: darkblue;
    padding: 20px;
}

p{
    margin: 20px;
    text-align: justify;

}
button {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}